/data
/output
/matconvnet
/miniplacesCNN
/tb_logs
/logs
/checkpoints
/submissions
/predictions
.DS_STORE
__pycache__
*.pyc
*.pem

*.pdf

*.aux
*.fdb_latexmk
*.fls
*.out
*.pre
*.pyc
*.log
*.synctex.gz
.*.sw?

# Avoid tracking files related to PyCharm
.idea/*
